.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__home {
    display: flex;
    align-items: center;
  }

  &__home-icon {
    position: relative;
    top: 1px;
    color: #888;
    font-size: 0.6rem;
    margin-right: 0.2rem;
  }

  &__name {
    font-size: 24px;
    color: #666;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  &__container {
    background-color: #e5e5e9;
    padding: 1rem 1.5rem;
    border-radius: 1.2rem;

    & ol {
      margin: 0;
    }

    & .breadcrumb-item.active {
      color: #333;
    }

    & .breadcrumb-item a {
      color: #888 !important;
    }
  }
}
