// button global
a.btn-primary {
    padding: 0.5rem 1rem;
    border: none;
    background: #0071c2;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}

a.btn-primary:hover {
    background: #0a3a5c;
}
