.policy {
    &__info {
        font-size: 13px;
        padding: 20px;
        background: #f9fbfd;
        margin-bottom: 2rem;

        &__cancle-time {
            font-weight: bold;

            i {
                margin-right: 5px;
            }
        }
        &__note {
            color: #6b6b6b;
            font-weight: 500;
        }
    }

    &__insurance {
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__info {
            font-size: 12px;
            font-weight: 500;
            color: #6b6b6b;
            margin-top: 1rem;
        }
    }
}
