.carousel {
    position: relative;
    &__inner {
        width: 100%;
        overflow-x: hidden;

        &__list {
            margin-top: 1rem;
            list-style: none;
            padding: 0;
            display: flex;
            transition: 0.5s forwards;

            &__item {
                transition: 0.5s forwards;

                flex-shrink: 0;
                font-size: 12px;
                padding: 20px;
                border: 1px solid #e0e0e0;
                min-height: 200px;
                margin-right: 15px;
                width: 370px;
            }
        }
    }

    &__controls {
        a {
            width: 32px;
            height: 32px;
            display: block;
            cursor: pointer;
            position: absolute;
            top: 48%;
            box-shadow: 0 2px 8px 0 rgba(0, 20, 0, 16%);
            line-height: 32px;
            text-align: center;
            color: #000;
            z-index: 80;
            border-radius: 50%;
            background-color: #fff;
        }

        &__prev {
            left: -16px;
        }

        &__next {
            right: -16px;
        }
    }
}
