.view-detail-comments {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 14px;
    &__wrapper {
        width: 50%;
        background-color: #fff;
        padding: 1rem 2rem;
        &__icon-close {
            text-align: end;
            margin-top: 1rem;
            i {
                cursor: pointer;
                color: #aaa;
                transition: all 0.3s;
            }
            i:hover {
                color: #000;
            }
        }

        &__left {
            display: flex;
            align-items: center;

            &__avatar {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                background-color: rgb(35, 109, 35);
                color: #fff;
                margin-right: 5px;
                line-height: 35px;
                text-align: center;
                margin-right: 10px;
            }
            &__info {
                &__name {
                    font-weight: bold;
                }
                &__location {
                    span {
                        margin-left: 5px;
                        font-size: 12px;
                    }
                }
            }
        }
        &__middle {
            width: 60%;
            margin: 0 1rem;

            .date {
                font-size: 12px;
                color: #888;
            }
            .title {
                margin: 5px 0;
                font-size: 16px;
                font-weight: bold;
            }
            .message {
                color: #555;
                margin-top: 1rem;
            }
        }
        &__score {
            background: #003580;
            height: 30px;
            width: 30px;
            border-top-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            color: #fff;
            font-size: 13px;
            line-height: 30px;
            text-align: center;
        }

        .main {
            display: flex;
            align-items: flex-start;
            margin-bottom: 2rem;
        }
    }
}
