.wrapper {
    padding: 0.5rem 0 3rem 0;
    margin: 0 auto;
    width: 75%;
    &__content {
        display: flex;
        justify-content: space-between;

        &__left {
            width: 25%;
            min-height: 100vh;

            &__filter {
                // padding: 1rem 1rem;
                margin-top: 1rem;

                .title {
                    font-size: 15px;
                    font-weight: bold;
                    border: 1px solid #aaa;
                    padding: 0.75rem;
                    margin-bottom: 0;
                }
            }
        }

        &__right {
            width: 74%;
            min-height: 100vh;
            padding: 0.5rem;
            position: relative;

            &__search-result {
                font-size: 20px;
                font-weight: bold;
                padding-bottom: 1rem;
                border-bottom: 1px solid #eee;
            }
        }
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.breadcrumb-item .active {
    color: #6c757d !important;
}
