.wrapper {
    padding: 3rem 0;

    &__breadcrumb {
        &__item {
            font-size: 12px;
            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;

        &__left {
            width: 25%;
            min-height: 100vh;

            &__form {
                padding: 1rem 1.5rem;
                background: #febb02;

                p {
                    font-size: 110%;
                    font-weight: bold;
                }

                label {
                    font-size: 12px;
                    display: block;
                    margin-bottom: 3px;
                }

                .searchBtn {
                    width: 100%;
                    border: none;
                    background: #0071c2;
                    padding: 0.75rem 0;
                    color: #fff;
                    margin-top: 1rem;
                }
            }
            &__filter {
                // padding: 1rem 1rem;
                margin-top: 1rem;

                .title {
                    font-size: 15px;
                    font-weight: bold;
                    border: 1px solid #aaa;
                    padding: 0.75rem;
                    margin-bottom: 0;
                }
            }
        }

        &__right {
            width: 74%;
            min-height: 100vh;
            padding: 0.5rem;

            &__search-result {
                font-size: 20px;
                font-weight: bold;
                padding-bottom: 1rem;
                border-bottom: 1px solid #eee;
            }
        }
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.breadcrumb-item .active {
    color: #6c757d !important;
}

input.form-control::before {
    content: " ";
    display: inline-block;
}
