.select-field {
    /*-------OVERWRITE ANTD-----------*/
    // margin-bottom: 15px !important;

    .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
        //clear default of antd
        content:'';
    }
    .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after{
        display: inline-block;
        color: #ff4d4f;
        font-size: 14px;
        line-height: 1;
        content: '*';
        padding-left: 2px;
    }

}
