.nav-step {
    width: 70%;
    margin: auto;
    box-sizing: border-box;

    background-color: transparent;

    // display: table;
    // table-layout: fixed;
    // white-space: nowrap;

    border-spacing: 3px 0;
    margin-bottom: 20px;

    ul {
        justify-content: center;
        list-style-type: none;
        display: flex;
        padding-left: unset;

        li {
            width: calc(100% / 6);
            margin-right: 2px;
            border-bottom: 4px solid #6b6b6b;
            a {
                text-align: center;
                text-decoration: none;
                padding: 20px;
                font-size: 13px;
                color: #2b2a2a;
                display: block;
            }
        }

        li.active {
            border-color: #0071c2;
            background-color: #e6e6e6;
        }
    }
}
