.input-field {
    /*-------OVERWRITE ANTD-----------*/

    .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
        //clear default of antd
        content:'';
    }
    .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after{
        display: inline-block;
        color: #ff4d4f;
        font-size: 14px;
        line-height: 1;
        content: '*';
        padding-left: 2px;
    }


    .ant-input-affix-wrapper {
    background-color: unset;
    border: none;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: unset;
    border: none;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
    border: none;
    box-shadow: unset;
}

.ant-form-item-explain-error{
    margin-top: 2px;
    font-size: 11px;
}
/*---------------------------------*/
}


