.input-field {
    label {
        font-size: 12px;
        display: block;
        margin-bottom: 3px;
    }

    input {
        font-size: 13px;
    }
    /*-------OVERWRITE ANTD-----------*/
.ant-input-affix-wrapper {
    background-color: unset;
    border: none;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: unset;
    border: none;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
    border: none;
    box-shadow: unset;
}
/*---------------------------------*/
}


