.container-footer {
    background-color: #00224f;
    border-top: 1px solid #fff;
    .wrapper-footer {
        color: #fff;
        display: flex;
        justify-content: space-between;

        width: 80%;
        margin: auto;
        padding: 30px 0;

        &__footer-left {
            ul {
                list-style-type: none;
                margin: unset;
                align-items: center;
                li {
                    display: inline-block;
                    :before {
                        content: "|";
                        margin: 0 5px;
                    }
                    :first-child {
                        content: unset;
                    }
                    a {
                        font-size: 12px;
                        color: #fff;
                    }
                }
            }
        }
        &__footer-right {
            display: flex;
            align-items: center;
        }
    }
}
