.place-Over-View {
    display: flex;
    font-size: 13px;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;

    &__banner {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
        margin-right: 1rem;
    }

    &__info {
        width: 50%;
        &__name {
            color: #0071c2;
            font-size: 22px;
            font-weight: bold;
            text-decoration: none;
            line-height: 18px;
        }
        &__name:hover {
            cursor: pointer;
            color: #bc5b01;
            line-height: 18px;
        }
        &__place {
            color: #0071c5;
            text-decoration: underline;
            font-weight: 500;
            margin: 1px 0 2px 0;
        }

        &__convenient {
            font-weight: bold;
            svg{
                height: 12px;
                width: 12px;
            }
        }

        &__about svg {
            margin-right: 5px;
        }

        &__description {
            color: #333;
            margin-top: 10px;
        }

        &__roomInfo {
            margin-top: 10px;
            border-left: 2px solid #ddd;
            padding-left: 0.75rem;

            &__room-name {
                font-weight: bold;
            }
            &__about-bed {
            }
            &__isCancle {
                color: #008009;
            }
            &__isCancle > div {
                font-weight: bold;
            }
        }
    }

    &__feedback {
        flex-grow: 1;
        // margin-left: 2rem;
        text-align: center;
        &__header {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            &__top {
                margin-right: 10px;
                &__message {
                    font-size: 15px;
                    font-weight: 500;
                }
                &__vote {
                    font-size: 12px;
                    color: #888;
                }
            }
        }

        &__choosen-date {
            margin-top: 2rem;
            &__old-price {
                text-decoration: line-through;
                color: #c00;
            }

            &__current-price {
                font-size: 20px;
                font-weight: 500;
            }

            & span {
                color: #777;
                display: block;
                margin-bottom: 1rem;
            }
        }
    }
}
