.form-search {
    padding: 1rem 1.5rem;
    background: #febb02;

    p {
        font-size: 110%;
        font-weight: bold;
    }

    .searchBtn {
        width: 100%;
        border: none;
        background: #0071c2;
        padding: 0.75rem 0;
        color: #fff;
        margin-top: 1rem;
    }
}
