.feedback {
    margin-top: 3rem;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__title {
            font-size: 25px;
            font-weight: 500;
        }
    }

    &__score-wrapper {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        &__score {
            background: #003580;
            height: 30px;
            width: 30px;
            border-top-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            color: #fff;
            font-size: 13px;
            line-height: 30px;
            text-align: center;
        }
        &__message {
            margin: 0 0.5rem;
            font-weight: bold;
        }

        &__numVoted {
            color: #6b6b6b;
            font-weight: 500;
        }
        &__numVoted::before {
            content: " ";
            display: inline-block;
            width: 3px;
            height: 3px;
            background-color: #6b6b6b;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 5px;
        }
        &__readAll {
            margin-left: 1rem;
            color: #0071c2;
            cursor: pointer;
            font-size: 13px;
            font-weight: 500;
        }
        &__readAll:hover {
            color: #bc5b01;
        }
    }

    .wrapperSlider {
        margin-top: 1rem;
        position: relative;
        &__title {
            font-weight: bold;
            font-size: 14px;
        }
    }
}
