.search-hotel {
    background: #003580;
    color: #fff;
    &__main {
        padding: 1rem 0 2rem 0;
        width: 75%;
        margin: 0 auto;
        position: relative;
        &__title {
            font-size: 50px;
            font-weight: bold;
        }
        &__description {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 2rem;
        }
        &__form {
            position: absolute;
            bottom: -2rem;
            left: 0;
            width: 100%;
            background-color: #fff;

            display: flex;
            align-items: center;
            border: 5px solid #febb02;

            input {
                border: none;
                font-size: 12px;
                font-weight: bold;
                line-height: 100%;
                height: 50px;
                outline: none;
            }

            .input-field {
                margin-bottom: 0 !important;

                input:focus {
                    border: none;
                    box-shadow: none;
                }
            }
            .date {
                justify-content: center;
            }
            &__item {
                display: flex;
                align-items: center;
                background-color: #fff;
                padding: 0;
                padding-left: 20px;
                border-right: 5px solid #febb02;
                flex-basis: 46%;
                height: 55px;
                .split {
                    color: #000;
                    margin: 0 1rem;
                    width: 10px;
                    height: 2px;
                    background-color: #aaa;
                }
            }

            .form-search {
                position: relative;

                .form-search-tips {
                    color: #000;
                    font-size: 14px;
                    background: #fff;
                    padding: 10px;
                    border-radius: 2px;
                    box-shadow: 1px 1px 25px -8px #aaa;
                    position: absolute;
                    top: 60px;
                    left: 0;
                    width: 100%;
                    p {
                        font-size: 13px;
                    }
                    ul {
                        padding: 0;
                        list-style: none;
                        .place:hover {
                            background: #f5f5f5;
                        }
                        .place {
                            display: flex;
                            align-items: center;
                            padding: 0.5rem 1rem;
                            cursor: pointer;

                            .icon {
                                margin-right: 1rem;
                            }

                            .place-name {
                                font-weight: bold;
                                font-size: 15px;
                            }
                            span {
                                color: #666;
                            }
                        }
                    }
                }
            }

            .btnSearch {
                flex-grow: 1;
                height: 55px;
                text-align: center;
                a {
                    width: 100%;
                    height: 100%;
                    line-height: 52px;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }

        &__container {
            padding-top: 5rem;
            background: #fff;
            width: 75%;
            margin: 0 auto;
            &__city {
                display: block;
                position: relative;
                height: 270px;

                .city-image {
                    display: block;
                    background-color: #000;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    filter: brightness(80%);
                }

                .city-image:hover {
                    filter: brightness(70%);
                }

                &__info {
                    position: absolute;
                    top: 10px;
                    left: 20px;
                    color: #fff;
                    text-shadow: 1px 1px 1px #000;
                    div {
                        font-size: 30px;
                        font-weight: bold;
                    }

                    span {
                        font-size: 14px;
                        display: block;
                    }
                }
            }

            &__category {
                margin-top: 2rem;
                .find-what {
                    font-size: 20px;
                    font-weight: bold;
                }

                &__info {
                    padding-bottom: 1rem;
                    img {
                        width: 100%;
                        height: 100%;
                    }

                    .title {
                        font-weight: bold;
                        margin-top: 1rem;
                    }
                    span {
                        font-size: 14px;
                        color: #666;
                        margin-bottom: 10px;
                    }
                    .text {
                        padding-left: 10px;

                        .wrapper-info {
                            display: flex;
                            align-items: center;
                            margin-top: 5px;
                            color: #666;

                            div {
                                margin-right: 5px;
                            }

                            .feedback-message {
                                font-weight: bold;
                                font-size: 14px;
                            }
                        }
                    }
                }
                a {
                    text-decoration: none;
                    color: #333;
                }

                .description {
                    color: #666;
                }
            }
        }
    }
}
