.dashboard {
  & .table-responsive {
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
  }

  &__booking-view-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__booking-view-title {
    font-weight: bold;
    font-size: 1.4rem;
  }

  &__booking-view-action {
    background-color: darkslateblue;
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 8px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }

  &__booking-view-action:hover {
    transform: scale(1.01);
    cursor: pointer;
  }
}
