.form-site {
    padding: 20px;
    align-items: center;
    width: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    &__label {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 15px;

        display: flex;
    }
    Form {
        font-size: 15px;
        font-weight: 500;
        line-height: 12px;
        Label {
            display: flex;
            margin: 10px 0;
        }
        Button {
            width: 100%;
        }
        .input-login-area{
            border: 1px solid #b3b2b2;
        }
        .loggin-form-link-regis{
            padding-top: 15px;
            
        }
        a{
            display: flex;
        }
    }
}
