.admin-layout {
  display: flex;

  &__main {
    flex: 1;
  }

  &__content {
    padding: 1rem;
    background-color: #eaeef3;
    min-height: calc(100vh - 58px);
  }

  &__notification {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    & i {
      justify-self: flex-end;
    }
  }
}

.navbar-input {
  display: flex;
  align-items: center;
  height: 36px;
  margin-left: 8px;

  border: 1px solid #bdbdbd;
  border-radius: 50px;
  overflow: hidden;
  padding: 0 1rem;

  & input {
    border: none;
    outline: none;
  }

  & i {
    color: #bdbdbd;
  }
}
